[Desktop Entry]
Type=Application
Name=exg-c
Comment=Watch 8 EXG channels, map them on a cube, save profiles
Exec=np-exg
Path=
Icon=exg-c.png
Terminal=false
Categories=Science;
